* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

h1 {
    text-align: center;
}
input {
    margin: 1%;
}

img {
    max-width: 80%;
}

.error_msg {
    color:red;
}