<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Image Uploader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="main">
    <h1>Flask Image To Text Convertor</h1><br>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" id="image">
        <input type="submit" value="Convert Image To Text">
    </form><br>
    {% if img_path %}
    <h3>Image</h3>
    <img src="../{{img_path}}" width="80%">
    <h3>Text</h3>
    <table border="1">
        {% for row in text %}
           <tr>
                {% for column in row %}
                    <td>{{ column }}</td>
                {% endfor %}
           </tr>
       {% endfor %}
    </table>
    {% endif %}
    {% if error_msg %}
    <h3 class="error_msg">{{error_msg}}</h3>
    {% endif %}
    </div>
</body>
</html>